body {
  font-family: Arial, sans-serif;
}

.card {
  background-color: white;
}

.list-group-item {
  font-size: 18px;
}

.add-task-form .btn-success {
  background-color: #198754;
  color: white;
}
table {
  font-size: 18px;
}

th {
  font-weight: bold;
}

td {
  vertical-align: middle;
}

.add-task-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-task-form input {
  padding: 10px;
  flex: 1;
}

.add-task-form button {
  padding: 10px 18px;
}
