body {
  font-family: Arial, sans-serif;
}

.card {
  background-color: white;
}

.list-group-item {
  font-size: 18px;
}

.add-task-form .btn-success {
  background-color: #198754;
  color: white;
}
